:root {
    --body-background: 248, 249, 250;
    --grid-background: 255, 255, 255;
    --linkcolor: 0, 128, 255;
    --border-color: 0, 0, 0;
    --aside-background: 248, 249, 250;
    --relatedarticle-background: 212, 213, 255;
}