.article {
    width: 100%;
    padding-top: 0;

    &__languages {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--selector {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 140px;
            font-size: 1rem;
            font-weight: 700;

            img:first-child {
                height: 22px;
            }
        }

        &--selector:hover {
            background-color: rgba(var(--hover-color), 0.15)
        }

        h1 {
            font-size: 2.5rem;
        }

        +hr {
            margin-top: -17px;
        }
    }

    &__editbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 7px 0px;

        a:hover {
            text-decoration: underline;
            text-underline-offset: 10px;
            text-decoration-thickness: 3px;
        }

        &--left {
            a:first-child {
                margin-right: 10px;
            }
        }

        &--right {
            display: flex;
            justify-content: space-between;
            width: 230px;
            align-items: center;

            button {
                background-color: transparent;
                border: 0;
                margin-right: -6px;
            }

            button:hover {
                background-color: rgba(var(--hover-color), 0.15);
            }
        }
    }

    &__coordinates {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 12px 0px;

        &--link {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 190px;
            font-size: 0.9em;
        }
    }


    &__edit-text {
        display: flex;
        align-items: center;

        h2 {
            font-size: 1.6rem;
            margin-right: 12px;
        }

        +hr {
            margin-top: -20px;
        }
    }

    &__notes {
        font-size: 0.95rem;

        span {
            font-style: italic;
        }
    }
}