@forward '../colors';

.relatedarticles {

    &__container {
        border: 1px solid rgb(var(--border-color));
        padding: 3px;
    }

    &__container:nth-child(n + 4):nth-child(-n + 5) {
        border-top: none;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(var(--relatedarticle-background));
        height: 23px;

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &--show,
        &--vte {
            font-size: 0.8rem;
            margin: 0px 10px;
        }

        &--title {
            font-weight: bold;
        }
    }

    &__categories {
        width: cover;
        border: 1px solid rgb(var(--border-color));
        padding: 10px 5px;
        margin: 20px 0px 10px 0px;

        a {
            padding: 4px;
        }
    }
}